:root {
    --primario: #ff7d00;
    --body: #fff;
    --negro: #000000;

}

body {
    box-sizing: border-box;
    margin: auto 0;
    background-color: var(--body);
    font-family: 'Jura', sans-serif;
    font-family: 'Roboto', sans-serif;
}
/* ------ header ------ */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 1.5rem 0;
    height: 4rem;

    /* background-color: var(--primario);
    height: 4rem; */
}

header.subs {
    background-color: var(--primario);
}

header.subs .nav-list a:hover {
    color: var(--negro);
}

header.abajo {
    transition: all 0.5s ease 0s;
    background-color: var(--primario);
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.30);
}

header.abajo .nav-list a:hover {
    color: var(--negro);
}

.nav-list {
    display: flex;
    list-style-type: none;
    gap: 1rem;
}

.nav-list li a {
    text-decoration: none;
    color: var(--body);
    text-transform: uppercase;
    font-weight: 500;
}

.nav-list li a:hover {
    color: var(--primario);
}

.abrir-menu,
.cerrar-menu {
    display: none;
}

@media screen and (max-width: 890px) {

    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
        margin-bottom: 1.5rem;
    }

    .abrir-menu,
    .cerrar-menu {
        color: var(--body);
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        background-color: var(--primario);
        padding: 2rem;
        bottom: 0;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .8);
        z-index: 2;

    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
        position: fixed;
        height: 70rem;
        transition: all 0.5s ease 0s;
    }

    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a:hover {
        color: var(--negro);
    }
}
/* ------- home section ------- */
#Home {
    width: 100%;
    height: 62rem;
    background-image: url('../img/Inicio.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home {
    width: 100%;
    height: 62rem;
    background-color: rgba(0, 0, 0, .25);
    margin: auto;


}

.logo {
    font-size: 2rem;
    font-weight: 500;
    font-family: 'Jura', sans-serif;
    font-family: 'Shrikhand', cursive;
    text-transform: capitalize;
    text-decoration: none;
    color: var(--body);
    margin-bottom: 1.5rem;
}

.logo:hover {
    color: var(--negro);
}

.abrir-menu:hover,
.cerrar-menu:hover {
    color: var(--negro);
}

.logo-final {
    font-size: 2rem;
    font-weight: 500;
    font-family: 'Jura', sans-serif;
    font-family: 'Shrikhand', cursive;
    text-transform: capitalize;
    text-decoration: none;
    padding: 5rem;
    color: var(--primario);
}

.home-texts {
    width: 100%;
    height: 100%;
    color: var(--body);
    text-align: center;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title-home {
    font-size: 8rem;
    margin-bottom: .4rem;

}

.paragraph-home {
    font-size: 2.2rem;
    font-weight: 300;
    margin-bottom: 5rem;
}

.btn-reserva {
    background-color: var(--primario);
    color: var(--negro);
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: -1px;
    border: none;
    border-radius: 2rem;
    height: 3rem;
    width: 20rem;
}

.btn-reserva:hover {
    background-color: #db6a00;
    transition: all 0.2s ease 0s;
    transform: scale(1.03);
    cursor: pointer;
}
.btn-reserva-link {
    background-color: transparent;
    color: var(--negro);
    text-decoration: none;
}

@media screen and (max-width:615px) {
    .logo {
        font-size: 1.5rem;
    }

    .title-home {
        font-size: 5rem;
    }

    .paragraph-home {
        font-size: 1.5rem;
        font-weight: 300;
        margin-bottom: 5rem;
    }

    .btn-reserva {
        background-color: var(--primario);
        font-size: 1.2rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: -1px;
        border: none;
        border-radius: 2rem;
        height: 2.5rem;
        width: 18rem;
    }

    .btn-reserva:hover {
        background-color: #db6a00;
        transition: all 0.2s ease 0s;
        transform: scale(1.03);
        cursor: pointer;
    }
}
/* ------- including section ------- */
#Including {
    height: 30rem;
}

.including-list {
    margin: auto;
    background-color: var(--primario);
}

.list-including {
    color: var(--body);
    font-size: 1.2rem;
    display: grid;
    padding: 3.5rem;
}

.lista {
    margin-top: 1.1rem;
    font-weight: 300;
}

.title-inlcuding {
    font-size: 3rem;
    letter-spacing: -2px;
    margin-bottom: 2rem;

}

.paragraph-including {
    font-size: 1.7rem;
    font-weight: 300;
    letter-spacing: -2px;
    line-height: 1.8rem;
    margin-bottom: 6rem;

}

.span-validez {
    font-size: 1.2rem;
    font-weight: bolder;
    text-transform: uppercase;
}

.including {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
    margin-top: 2rem;
}


@media (max-width: 768px) {
    #Including {
        height: 45rem;
    }

    .including {
        max-width: 1200px;
        width: 95%;
        margin: 0 auto;
        display: grid;
        margin-top: 2rem;
    }

    .dos-columnas {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        column-gap: 2rem;
    }
}
/* ------- destinos section ------- */
#Destinos {
    width: 100%;
    height: 45rem;
    margin: auto;
    display: grid;
    text-align: center;
}

.img-des img {
    display: block;
    width: 100%;
    height: 30rem;
    object-fit: cover;
}

.destinos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 2rem;
    text-align: center;
    width: 90%;
    margin: auto;
}

.card {
    display: block;
    overflow: hidden;
    border-radius: 0.6rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.2s;
    position: relative;
}

.card-contenido {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    color: var(--body);
    width: 100%;
    padding: 2rem;
    overflow: hidden;
    transition: 0.7s;
}

.title-card {
    font-size: 1.5rem;
}

@media (max-width:1024px) {
    #Destinos {
        width: 100%;
        height: 75rem;
    }

    .destinos {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:768px) {
    #Destinos {
        width: 100%;
        height: 40rem;
    }

    .destinos {
        grid-template-columns: repeat(1, 1fr);
        display: flex;
        flex-wrap: nowrap;
        overflow: scroll;
    }
    .card-destinos {
        display: flex;
        flex-wrap: nowrap;
        overflow: scroll;
    }
    .card {
        flex: 1 0 auto;
        margin: 0 30px;
        width: 400px;
        height: 400px;
    }
    .title-destinos {
        margin-top: 5rem;
    }
}

.btn-destino {
    margin: auto;
    top: 0;
    height: 3rem;
    width: 20rem;
    text-align: center;
    background-color: var(--primario);
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -1px;
    border: none;
    border-radius: 2rem;

}

.btn-destino:hover {
    background-color: #db6a00;
    transition: all 0.2s ease 0s;
    transform: scale(1.03);
    cursor: pointer;
}
/* ------- registrate section ------- */
#Registrate {
    width: 100%;
    height: 50rem;
    background-color: var(--primario);

}

.about {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
}

.dos-columnas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
}

.registrate {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
    height: 50rem;
}

.entrada-blog-2 a {
    display: inline-block;
    background-color: var(--body);
    color: var(--primario);
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -1px;
    border: none;
    border-radius: 2rem;
    height: 3rem;
    width: 20rem;
}

.entrada-blog-2 a:hover {
    transition: all 0.6s ease 0s;
    transform: scale(1.03);
    cursor: pointer;
}

.entrada-blog {
    display: flex;
    justify-content: center;
    align-items: center;
}

.entrada-blog-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
}

.title-registro {
    font-size: 2.5rem;
    color: var(--body);
    text-align: center;

}

.paragraph-registro {
    font-size: 1.2rem;
    color: var(--body);
}


@media (max-width: 768px) {
    #Registrate {
        width: 100%;
        height: 60rem;
    }

    .dos-columnas {
        display: inline-block;
    }

    .about {
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px;
        margin-top: 5rem;
    }

    .entrada-blog-2 {
        margin-top: -15rem;
    }

}
/* ------- pasajeros section ------- */
#Pasajeros {
    width: 100%;
    height: 45rem;
    margin: 0 auto;

}

.title-pasajeros {
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: -2px;
    line-height: 1.8rem;
    text-align: center;
    margin-top: 2rem;
}

.hr-pasajeros {
    margin: 1rem auto;
    width: 30%;
    border: solid 2px var(--primario);
}

.pasajeros {
    height: 35rem;
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    margin-top: 4rem;
    padding: 0 2rem;
}

.pasajero {
    display: flex;
    margin-top: 5rem;
}

.img-pas {
    height: 4rem;
    width: 4rem;
    border-radius: 100%;
    border: solid 2px var(--primario);
}

.card-pasajeros {
    width: 90%;
    height: 100%;
    background-color: white;
    -webkit-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.10);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
    border-radius: .2rem;
    padding: 2.5rem;
}

.card-pasajeros:hover {
    transition: all 0.8s ease 0s;
    transform: scale(1.01);
    cursor: pointer;
}

.paragraph-pasajero {
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: -1px;

}

.nombre-pasajero {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0 1rem;
    margin-bottom: .1rem;
}

.pasajero-prof {
    font-size: 1rem;
    font-weight: 300;
    padding: 0 1rem;
}

.icon-card {
    font-size: 3.5rem;
    color: var(--primario);
    margin-bottom: 2rem;
}

@media (max-width: 768px) {
    #Pasajeros {
        height: 110rem;
        margin: auto;
    }

    .pasajeros {
        height: 100rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .title-pasajeros {
        margin-top: 2rem;
    }
}

.title-pasajeros {
    text-align: center;
}

/* ------- nosotros section ------- */
#Nosotros {
    width: 100%;
    height: 42rem;
    background-image: url('../img/Fin.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
}

.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

.dos-columnas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
}

.nosotros {
    width: 100%;
    height: 42rem;
    background-color: rgba(255, 125, 0, .15);
    position: relative;
    display: flex;
    justify-content: space-between;
}

.nivel {
    height: 20rem;
    width: 40rem;
}

.title-nosotros {
    font-size: 2rem;
    color: var(--body);
    padding: 3rem 2rem;
}

.paragraph-nosotros {
    font-size: 1.2rem;
    padding: 2rem;

}

.info-nosotros {
    height: 25%;
    width: 40rem;
    background-color: var(--body);
    margin: 8rem 5rem;
    border-radius: 1%;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.75);
}

.title-nosotros {
    font-size: 4rem;
    color: var(--body);
    padding: 4rem 7rem;
}

@media (max-width: 992px) {
    .paragraph-nosotros {
        font-size: 1rem;
        padding: 2rem;

    }

    .info-nosotros {
        height: 25%;
        width: 40rem;
        background-color: var(--body);
        margin: 8rem 5rem;
    }

    .title-nosotros {
        font-size: 2.5rem;
        color: var(--body);
        padding: 4rem 7rem;
    }
}

@media (max-width: 768px) {
    #Nosotros {
        width: 100%;
        height: 42rem;
    }

    .nosotros {
        width: 100%;
        height: 42rem;
        background-color: rgba(255, 125, 0, .15);
        position: relative;
        display: block;
    }

    .nivel {
        height: 20rem;
        width: 20rem;
    }

    .paragraph-nosotros {
        font-size: 1rem;
        padding: 2rem;

    }

    .info-nosotros {
        height: 25%;
        width: 75%;
        background-color: var(--body);
        margin: 8rem 5rem;
    }

    .title-nosotros {
        font-size: 2.5rem;
        color: var(--body);
        padding: 4rem 10rem;
    }
}

/* ------- contacto section ------- */
#Contacto {
    width: 90%;
    height: 25rem;
    margin: auto;
}

.title-contacto {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.info-contacto {
    width: 90%;
    height: 15rem;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
}

.lista-redes a {
    text-decoration: none;
    color: var(--negro);
    font-size: 1.5rem;
}

.lista-redes a:hover {
    color: var(--primario);
}

.lista-redes {
    list-style-type: none;
}

.ubicacion {
    list-style-type: none;
    font-size: 1.2rem;
}

.ubicacion-icon {
    color: var(--primario);
}

.ciudad {
    text-transform: uppercase;
    font-weight: 700;
}


@media (max-width:1024px) {
    #Contacto {
        width: 90%;
        height: 35rem;
        margin: auto;
    }

    .info-contacto {
        width: 90%;
        height: 15rem;
        display: grid;
        margin: auto;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        justify-content: space-between;
        align-items: center;
    }
}

@media (max-width:768px) {
    #Contacto {
        width: 90%;
        height: 55rem;
        margin: auto;
    }

    .info-contacto {
        width: 90%;
        height: 15rem;
        display: grid;
        margin: auto;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
        justify-content: space-between;
        align-items: center;
    }
}

/* ------- footer ------- */
.footer {
    height: 4rem;
    background-color: var(--primario);
    bottom: 0;
}

.derechos {
    text-align: center;
    font-size: 1.1rem;
    color: var(--body);
    letter-spacing: -1px;
    padding-top: 1.5rem;
}


@media (max-width: 768px) {
    .dos-columnas {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 2rem;
    }
}

.form-box {
    max-width: 300px;
    background: #f1f7fe;
    overflow: hidden;
    border-radius: 16px;
    color: var(--negro);
}

.form {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 32px 24px 24px;
    gap: 16px;
    text-align: center;
}

/* --- Form text ---*/
.title {
    font-weight: bold;
    font-size: 1.6rem;
}

.subtitle {
    font-size: 1rem;
    color: #666;
}

/* ------ subscribete form ------ */
#Subscribite{
    height: 45rem;
}
.container-subs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    background-color: white;
    margin: 5rem;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 1px rgba(255, 115, 0, 0.5);
}
.subsribete {
    height: 30rem;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont-img_sub {
    height: 40rem;
    max-width: 100%;
}
.subsImage {
    height: 40rem;
    max-width: 100%;
    border-radius: 5px 0px 0px 5px;
}
.form {
    background-color: white;
}
.form-box {
    margin: auto;
}

.form-container {
    overflow: hidden;
    border-radius: 2px;
    background-color: var(--body);
    margin: 1rem 0 .5rem;
    width: 100%;
}

.input {
    background: none;
    border: 0;
    outline: 0;
    height: 40px;
    width: 100%;
    border: 1px solid var(--primario);
    margin-bottom: 5px;
    font-size: .9rem;
    padding: 8px 15px;

}

.form-section {
    padding: 16px;
    font-size: .85rem;
    background-color: white;
    box-shadow: rgb(0 0 0 / 8%) 0 -1px;
}

.form-section a {
    font-weight: bold;
    color: var(--primario);
    transition: color .3s ease;
}

.form-section a:hover {
    color: var(--primario);
    text-decoration: underline;
}

/* --- Button --- */
.form button {
    background-color: var(--primario);
    color: var(--body);
    border: 0;
    border-radius: 2px;
    padding: 10px 16px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color .3s ease;
}

.form button:hover {
    background-color: #db6a00;
}
@media (max-width: 980px) {
    .container-subs {
        margin:5rem;
    }  
    .cont-img_sub {
        background-image: url(../img/img-subs.jpg);
        background-position: center;
    }
    .subsImage {
        display: none;
    }
}
@media (max-width: 700px) {
    #Subscribite {
        position: absolute;
        height: 45rem;
        width: 100%;
        background-image: url(../img/img-subs.jpg);
    }
    .container-subs {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        margin:5rem 1rem;
    } 
    .cont-img_sub {
        display: none;
    }
    .subsImage {
        display: none;
    }
    .form-box {
        margin: auto;
    }
}